{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "indent": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/no-var-requires": 0
  }
}
