.chartContainer {
    position: relative;
    border-bottom: 1px solid rgb(114, 114, 114);
}

.graph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonContainer {
    margin-left: 10px;
    height: 40px;
}

button {
    margin-right: 20px;
    border: 0px;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    height: 40px;
    font-size: small;
    width: fit-content;
    padding: 0;
    cursor: pointer;
}

.selectedButton {
    border-bottom: 3px solid red;
}

.percentChange,
.label {
    padding-top: 2px;
    margin: 0px;
    margin-left: 2px;
    display: inline-block;
}

.title,
.dpValue {
    margin: 0px;
    font-weight: 400;
    margin-left: 2px;
}
