/* add css module styles here (optional) */

.test {
    margin: 2em;
    padding: 0.5em;
    border: 2px solid #000;
    font-size: 2em;
    text-align: center;
}

.chartContainer {
    background-color: aliceblue;
    position: relative;
}

.buttonContainer {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.button {
    margin-left: 2px;
}

.title {
    position: absolute;
    top: 2px;
    left: 2px;
}
